
<div>
    <h1>Are you hungry? Becuase we are ready to serve!
</div>
</h1>
<div class="col-12">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Images/ClientHomePage/Carousel1.png" class="d-block w-100" alt="An image of the inside of a store at night.">
            </div>
            <div class="carousel-item">
                <img src="~/Images/ClientHomePage/Carousel2.png" class="d-block w-100" alt="An image of the inside of a store during the day.">
            </div>
            <div class="carousel-item">
                <img src="~/Images/ClientHomePage/Carousel3.png" class="d-block w-100" alt="An image of the outside of a store, showing the shop front.">
            </div>
            <div class="carousel-item">
                <img src="~/Images/ClientHomePage/Carousel4.png" class="d-block w-100" alt="A image of the inside of the store, on a rainy night.">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


