<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       data-toggle="dropdown"
       href="#"
       role="button"
       data-bs-toggle="dropdown"
       id="nav-dropdown"
       aria-expanded="false">
        Type of Meal
    </a>
    <ul class="dropdown-menu" aria-labelledby="nav-dropdown">
        <li>
            <a asp-controller="Home" asp-action="Menu" asp-route-typeOfMeal="" class="dropdown-item">All Dishes</a>
        </li>
        @foreach (var mealType in Enum.GetValues(typeof(MealType)))
        {
            <li>
                <a asp-controller="Home" asp-action="Menu" asp-route-typeOfMeal="@mealType.ToString()" class="dropdown-item">@mealType</a>
            </li>
        }

    </ul>
</li>